<section id="prof-details">

  <div class="row prof-pic-details">

    <div class="small-4 columns prof-pic">
        <img src="img/ford.jpg">
    </div>

    <div class="small-5 columns prof-details">
      <p>starting weight: <span class="starting-weight">600lbs</span></p>
      <p>current weight: <span class="current-weight">550lbs</span></p>
      <p>weekly goal: <span class="starting-weight">500lbs</span></p>
    </div>

    <div class="small-3 columns prof-progress">
      <p style="margin-bottom: 10px">Total Lost</p>
      <p class="pounds">10 <span class="lbs">lbs</span></p>
    </div>
  </div><!--end details row-->

  <div class="row" id="prof-buttons">
    <div class="small-6 columns">
      <%= link_to "UPLOAD MEAL", new_patient_photo_path(current_patient), class: "button upload" %>
    </div>



    <div class="small-6 columns">
      <a href="recent-comments.html" class="button comments-button">NEW FEEDBACK (3)</a>
    </div>
  </div><!--end buttons row-->
</section>


<section id="prof-recent-photos">
  <div class="row prof-day-tab">
    <div class="small-1 columns">
      <h2 style="padding-top:5px;"> ◄ </h2>
    </div>
    <div class="small-10 columns">
      <h2>today's meals</h2>
    </div>
    <div class="small-1 columns">
      <h2 style="padding-top:5px;"> ► </h2>
    </div>
  </div><!--end recent photos-->

  <ul class="small-block-grid-3">
    <li>
      <img class="th" src="img/breakfast.jpg">
      <p class="meal">Breakfast</p>
    </li>
    <li>
      <img class="th" src="img/chickpeas.jpg">
      <p class="meal">Snack</p>
    </li>
    <li>
       <a href="photo-page.html"><img class="th"src="img/mamas-food-square.jpg"></a>
      <p class="meal">Lunch</p>
    </li>
    <li>
      <img class="th" src="img/snack-1.jpg">
      <p class="meal">Snack</p>
    </li>
  </ul>

</section>


<% if current_patient %>
		Name: <%= current_patient.name %><br>
		Email: <%= current_patient.email %><br>
		Age: <%= current_patient.age %><br>
		Weight: <%= current_patient.weight %><br>
		Height: <%= current_patient.height %><br>
		Weight Goal: <%= current_patient.weight_goal %><br>
		Phone: <%= current_patient.phone %><br>
<% else %>

<% end %>