<section id="prof-details">

  <div class="row prof-pic-details">

    <div class="small-4 columns prof-pic">
        <% if current_patient %>
        <%= link_to image_tag("http://www.kylebachan.com/wp-content/uploads/2013/01/creator.jpg"), edit_patient_path(current_patient)  %>
        <% end %>
    </div>

    <div class="small-5 columns prof-details">
      <p>Name: <span class="user-attributes"><%= current_patient.name %></span></p>
      <p>Current Weight: <span class="user-attributes"><%= current_patient.weight %>lbs</span></p>
      <p>Weight Change: 
        <% if (calc_difference > 0) %>
          <span class="user-attributes-gain"><%= calc_difference %>lbs</span>
        <% else %>
          <span class="user-attributes-loss"><%= calc_difference %>lbs</span>
        <% end %>
        
    </div>

    <div class="small-3 columns prof-progress">
      <p style="margin-bottom: 10px">Total Lost</p>
      <p class="pounds">10 <span class="lbs">lbs</span></p>
    </div>
  </div><!--end details row-->

  <div class="row" id="prof-buttons">
    <div class="small-6 columns">
      <% if current_patient %>
        <%= link_to "UPLOAD MEAL", new_patient_photo_path(current_patient), class: "button upload" %>
        <%= link_to "ALL MEALS", patient_photos_path(current_patient), class: "button upload" %>
      <% end %>
    </div>


    <div class="small-6 columns">
      <% if current_patient %>
      <%= link_to "NEW FEEDBACK (3)", patient_photos_path(current_patient), class: "button upload" %>
      <a href="recent-comments.html" class="button comments-button">NEW FEEDBACK (3)</a>
      <% end %>
    </div>
  </div><!--end buttons row-->
</section>


<section id="prof-recent-photos">
  <div class="row prof-day-tab">
    <div class="small-1 columns">
      <h2 style="padding-top:5px;"> ◄ </h2>
    </div>
    <div class="small-10 columns">
      <h2>latest meals</h2>
    </div>
    <div class="small-1 columns">
      <h2 style="padding-top:5px;"> ► </h2>
    </div>
  </div><!--end recent photos-->


  <% if current_patient %>
  <ul class="small-block-grid-3">
  	<% @photos.each do |photo| %>
  		<li>
  			<%= link_to image_tag(photo.url, class: "th"), patient_photo_path(current_patient, photo) %>
  			<p class="meal"><%= photo.notes %></p>
  		</li>
  	<% end %>
  <% end %>

    <li>
      <%= image_tag("breakfast.jpg", class: "th") %>
      <p class="meal">Breakfast</p>
    </li>
    <li>
      <%= image_tag("chickpeas.jpg", class: "th") %>
      <p class="meal">Snack</p>
    </li>
    <li>
       <%= image_tag("mamas-food-square.jpg", class: "th") %>
      <p class="meal">Lunch</p>
    </li>
    <li>
      <%= image_tag("snack-1.jpg", class: "th") %>
      <p class="meal">Snack</p>
    </li>
  </ul>

</section>


<% if current_patient %>
		Name: <%= current_patient.name %><br>
		Email: <%= current_patient.email %><br>
		Age: <%= current_patient.age %><br>
		Weight: <%= current_patient.weight %><br>
		Height: <%= current_patient.height %><br>
		Phone: <%= current_patient.phone %><br>
<% else %>

<% end %>