<h1>Profile</h1>

Name: <%= @patient.name %><br>
Email: <%= @patient.email %><br>
Weight: <%= @patient.weight %><br>
Height: <%= @patient.height %><br>
Weight Goal: <%= @patient.weight_goal %><br>
Phone: <%= @patient.phone %><br>