<%= form_for [current_patient,@photo] do |f| %>
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :url %><br>
		<%= f.text_field :url %>
	</p>
	<p>
		<%= f.label :notes %><br>
		<%= f.text_field :notes %>
	</p>
	<p>
		<%= f.submit "Save" %>
	</p>
<% end %>

<!-- Video element (live stream) -->
	<label>Video Stream</label>
	<video autoplay id="video" width="640" height="480"></video>
	 
	<!-- Canvas element (screenshot) -->
	<label>Screenshot (base 64 dataURL)</label>
	<canvas id="canvas" width="640" height="480"></canvas>
	 
	<!-- Capture button -->
	<button id="capture-btn">Capture!</button>
	 
	<!-- Image URL output -->
	<label>Image URL</label>
	<input type="text" id="image-url-input" disabled>