<%= form_for [current_patient,@photo] do |f| %>
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :url %><br>
		<%= f.text_field :url %>
	</p>
	<p>
		<%= f.label :notes %><br>
		<%= f.text_field :notes %>
	</p>
	<p>
		<%= f.submit "Save" %>
	</p>
<% end %>