  <section id="photo-large">
    <div class="container">

      <div class="row">
        <div class="small-12 columns meal-img">
          <img src="img/mamas-food-square.jpg">
        </div>  
      </div>

    </div><!--container-->
  </section><!--photo-large-->

  <section id="photo-comments">
   <div class="container">

   	<%= form_for [current_patient,@photo] do |f| %>

   		<!-- <div class="small-9 columns" style="padding: 0">
   		  <input type="radio"><label class="meal-type">Breakfast</label>
   		  <input type="radio"><label class="meal-type">Lunch</label>
   		  <input type="radio"><label class="meal-type">Dinner</label>
   		  <input type="radio"><label class="meal-type">Snack</label>
   		</div> -->


   		<div class="row comments">

   			<div class="small-3 columns" style="padding: 0">
   			  <label class="photo-deets">Meal</label>
   			</div>

   			<div class="small-9 columns" style="padding: 0">
		   		<p>
		   			<%= f.radio_button :name, 'Breakfast', :checked => true, class: "meal-type" %> 
		   	  		<%= label :name_breakfast, 'Breakfast',class: "meal-type" %>
		   	  		<%= f.radio_button :name, 'Lunch', class: "meal-type" %>
		   	  		<%= label :name_lunch, 'Lunch', class: "meal-type" %>
		   	  		<%= f.radio_button :name, 'Dinner', :checked => true, class: "meal-type" %> 
		   	  		<%= label :name_dinner, 'Dinner', class: "meal-type" %>
		   	  		<%= f.radio_button :name, 'Snack', class: "meal-type" %>
		   	  		<%= label :name_snack, 'Snack', class: "meal-type" %>
		   		</p>
	   		</div>
   		</div>

   		 <div class="row comments">

   		  <div class="small-3 columns" style="padding: 0">
   		    <label class="photo-deets">Date</label>
   		  </div>

   		  <div class="small-9 columns" style="padding: 0">
   		  	<p>
   		  		<%= f.date_field :date, id: "datepicker" %>
   		  	</p>
   		  </div>

   		</div>

   		 <div class="row comments">

   		  <div class="small-3 columns" style="padding: 0">
   		   <label class="photo-deets">URL</label>
   		  </div>

   		  <div class="small-9 columns" style="padding: 0">
   		  	<p>
   		  		<%= f.text_field :url, placeholder: "Enter the web address of the picture here." %>
   		  	</p>
   		  </div>

   		</div>

   		 <div class="row comments">

   		  <div class="small-3 columns" style="padding: 0">
   		   <label class="photo-deets">NOTES</label>
   		  </div>

   		  <div class="small-9 columns" style="padding: 0">
   		  	<p>
   		  		<%= f.text_field :notes, id: "notes", placeholder: "Make a note of what you ate..." %>
   		  	</p>
   		  </div>

   		</div>

   		<p>
   			<%= f.submit "Log it!", class: "button log-submit" %>
   		</p>
   	<% end %>

 </div><!--container-->
</section><!--photo-large-->


<input type="file" capture="camera" accept="image/*" id="takePictureField">
        
		<img id="yourimage">
 
		<div id="swatches">
			<div id="swatch0" class="swatch"></div>
			<div id="swatch1" class="swatch"></div>
			<div id="swatch2" class="swatch"></div>
			<div id="swatch3" class="swatch"></div>
			<div id="swatch4" class="swatch"></div>
		</div>