<!DOCTYPE html>
<html>
<head>
  <title>PlatePal</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if current_patient %>
		<%= link_to "ADD PHOTO", new_patient_photo_path(current_patient) %>
		<%= link_to "EDIT", edit_patient_path(current_patient) %>
		<%= link_to "LOG OUT", session_path("current"), method: :delete%>
		<br>
	<% else %>
		<%= link_to "LOG IN", new_session_path %>
		<%= link_to "SIGN IN", new_patient_path %>
	<% end %>

<%= yield %>

</body>
</html>
